h1{
    padding-left: 5px;
    padding-right: 5px;
}
.container
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.inside_container{
    margin-top: 10px;
    border-radius: 25px;
    text-align:center;
    background-color: rgb(237, 143, 2);
}