
<div class='container'>
    <div class = 'inside_container'>
        <form>
            <h1>Create New Team</h1>
            <label for="coachFirstName">Coach First Name </label>
            <input type="text" name="coachFirstName" id="coachFirstName">
            <label for="coachLastName">Coach Last Name </label>
            <input type="text" name="coachLastName" id="coachLastName">
            <label for="teamName">Team Name </label>
            <input type="text" name="teamName" id="teamName">
            <button type="button">CREATE NEW</button>
        </form>
    </div>
</div>